.about-container {
    min-height: 70vh;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: calc(100vh - 200px); Remove this line */
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
}
h1 {
    margin-bottom: 30px;
    font-size: 3em; /* Adjust as needed */
}