<div class="about-container">
    <h1>About Our Library</h1>
    <p>Welcome to our library. We offer a wide range of books and resources for all ages. Our mission is
        to provide a welcoming environment for learning and discovery.</p>
    <p>Our library is open to the public and we offer a variety of programs and events for all ages.
        We have a dedicated staff that is here to help you find the resources you need.</p>
    <p>Our library is a place where you can relax, read, and learn. We have a large collection of books,
        magazines, and other materials for you to enjoy. We also have computers and other technology
        available for you to use.</p>
    <p>Our library is a place where you can connect with others and learn new things. We offer a variety
        of programs and events for all ages. We also have a dedicated staff that is here to help you find
        the resources you need.</p>
    <p>Our library is a place where you can explore new ideas and learn new things. We have a large collection
        of books, magazines, and other materials for you to enjoy. We also have computers and other technology
        available for you to use.</p>
    <p>Our library is a place where you can relax, read, and learn. We have a large collection of books,
        magazines, and other materials for you to enjoy. We also have computers and other technology
        available for you to use.</p>
    <p>Our library is a place where you can connect with others and learn new things. We offer a variety
        of programs and events for all ages. We also have a dedicated staff that is here to help you find
        the resources you need.</p>
    <p>Our library is a place where you can explore new ideas and learn new things. We have a large collection

</div>