

    <!-- <header> -->
    <!-- Navigation and Search bar -->
    

   <!-- <button >Sign Out</button>
   </header>
  
    <main>
      <div class="sidebar">
        <div class="user">
          <img src="/Tome/src/app/components/pages/community/group.jpeg" alt="User Avatar"> 
          <span>USER NAME</span>
          <span class="badge">ADMIN</span>
        </div>
        <ul class="menu">
          <li>Dashboard</li>
          <li>Receipts</li>
          <li>Saved Books</li>
          <li class="active">Community</li>
          <li>Announcements</li>
        </ul>
      </div>
  
      <div class="content">
        <h1>COMMUNITY</h1>
        <div class="sections">
          <div class="groups">
            <img src="/src/assets/images/background.jpg" alt="Group Image">
            <h2>GROUPS</h2>
          </div>
          <div class="events">
            <img src="events_image.png" alt="Events Image">
            <h2>EVENTS</h2>
          </div>
        </div>
      </div>
    </main> -->


<!-- sign-out.component.html -->
<div class="sign-out-message">
    <h1>YOU HAVE SUCCESSFULLY SIGNED OUT ... </h1>
    <!-- <a href="/signin" class="sign-in-button">Sign In Here</a> -->
    <button class="sign-in-button" routerLink="/login" >Login</button>
  </div>
  



