
<div class="container">
    <main>
    <app-sidebar></app-sidebar>

    <div class="book-list">
        <div class="book-item">
          <img src="./assets/images/Book1.jpg" alt="Naruto Book Cover" class="book-cover">
          <div class="book-info">
            <h3 class="book-title">Book Title 1</h3>
            <p class="book-author">Author Name 1</p>
            <p class="book-publication">Publication 1</p>
          </div>
        </div>
  
        <div class="book-item">
          <img src="./assets/images/Book2.jpg" alt="Dragon Ball Book Cover" class="book-cover">
          <div class="book-info">
            <h3 class="book-title">Book Title 2</h3>
            <p class="book-author">Author Name 2</p>
            <p class="book-publication">Publication 2</p>
          </div>
        </div>

        <div class="book-item">
            <img src="./assets/images/Book3.jpg" alt="Dragon Ball Book Cover" class="book-cover">
            <div class="book-info">
              <h3 class="book-title">Book Title 2</h3>
              <p class="book-author">Author Name 2</p>
              <p class="book-publication">Publication 2</p>
            </div>
          </div>

          <div class="book-item">
            <img src="./assets/images/Book4.jpg" alt="Dragon Ball Book Cover" class="book-cover">
            <div class="book-info">
              <h3 class="book-title">Book Title 2</h3>
              <p class="book-author">Author Name 2</p>
              <p class="book-publication">Publication 2</p>
            </div>
          </div>

          <div class="book-item">
            <img src="./assets/images/Book5.jpg" alt="Dragon Ball Book Cover" class="book-cover">
            <div class="book-info">
              <h3 class="book-title">Book Title 2</h3>
              <p class="book-author">Author Name 2</p>
              <p class="book-publication">Publication 2</p>
            </div>
          </div>

          <div class="book-item">
            <img src="./assets/images/Book1.jpg" alt="Dragon Ball Book Cover" class="book-cover">
            <div class="book-info">
              <h3 class="book-title">Book Title 2</h3>
              <p class="book-author">Author Name 2</p>
              <p class="book-publication">Publication 2</p>
            </div>
          </div>
          
          <div class="book-item">
            <img src="./assets/images/Book2.jpg" alt="Dragon Ball Book Cover" class="book-cover">
            <div class="book-info">
              <h3 class="book-title">Book Title 2</h3>
              <p class="book-author">Author Name 2</p>
              <p class="book-publication">Publication 2</p>
            </div>
          </div>
    </div>
      
      

    </main>
</div>