<div class="around">
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened="true">
    <div class="user-info">
      <mat-icon>account_circle</mat-icon>
      <h2>Harry</h2>
      <mat-divider></mat-divider>
    </div>
    <mat-divider class="div"></mat-divider>
    <mat-nav-list class="list">


      <button mat-button routerLink="/settings">
        <mat-icon>settings</mat-icon>
        Settings
      </button>
      <button mat-button routerLink="/logout">
        <mat-icon>help</mat-icon>
        help
      </button>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>


  </mat-sidenav-content>
</mat-sidenav-container>
</div>