.around{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    border-color: #0b0909;
    border-style: solid; /* Add this */
    border-width: 2px; /* And this */
    height: 100%;
}


.example-container {

    height: 100vh; /* Full height of the viewport */
}

mat-sidenav {
    width: 250px; /* Width of the sidenav */
    background-color: #333; /* Background color of the sidenav */
    color: #fff; /* Text color in the sidenav */
    padding: 20px; /* Padding inside the sidenav */
}
.div{
    margin-top: 10px;
    background: #0069d9;
}
mat-sidenav-content {
    padding: 20px; /* Padding inside the main content */
}
.user-info {
  display: flex;
  align-items: center;
    flex-direction: column;
  gap: 5px;
}
button {
    margin-top: 20px; /* Space above the button */
    background-color: #007bff; /* Background color of the button */
    color: #fff; /* Text color of the button */
    border: none; /* Remove the default button border */
    padding: 10px 20px; /* Padding inside the button */
    text-align: center; /* Center the button text */
    text-decoration: none; /* Remove the default button text decoration */
    display: inline-block; /* Make the button an inline-block element */
    font-size: 16px; /* Button text size */
    transition-duration: 0.4s; /* Transition duration for the button hover effect */
    cursor: pointer; /* Change the cursor when hovering over the button */
}

button:hover {
    background-color: #4CAF50; /* Background color of the button when hovered */
    color: white; /* Text color of the button when hovered */
}
.list{
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dashboard{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.receipts {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.checkout {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}