.dashboard {
    display: flex;
    justify-content: space-between;
    flex-direction: row; /* Change this from column to row */

    margin-bottom: 10px;
}



.book-list {
    display: flex;
    justify-content: center;
    margin-right: 120px;
}

.fav {
    max-width: 800px;
    margin: 0 auto;
}

.book {
    display: flex;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
}

.book {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.book-details {
    padding: 20px;
}

.book h2 {
    margin-top: 0;
}

.book p {
    margin-bottom: 5px;
}





.book-image {

    background-image: url("https://books.google.com/books/content?id=4kZbs2NeLJoC&pg=PP1&img=1&zoom=3&hl=en&bul=1&sig=ACfU3U2naoW4GgSZN3q1eBge3XkeWxt1jg&w=1280");
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 200px;
}
.book-image2 {

    background-image: url("https://books.google.com/books/content?id=2hp76AE5ZxEC&pg=PP1&img=1&zoom=3&hl=en&bul=1&sig=ACfU3U1NMxMEMnmS2MbiOc8i5ZLW44mKxA&w=1280");
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 200px;
}


.search-form {
    width: 350px;
    height: 100%;
    border: 1px solid #000; /* Add a border */
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px; /* Add left margin */
    background: linear-gradient(217deg, rgba(207, 207, 207, 0.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(255, 0, 0, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgb(107, 168, 225), rgba(0,0,255,0) 70.71%);
}

.search-form h2 {
    text-align: center;
}
.example-full-width {

    padding: 10px; /* Add some padding */
    margin-bottom: 10px; /* Add some bottom margin */
}

.example-full-width label {
    display: block; /* Make the label a block element */
    margin-bottom: 5px; /* Add some bottom margin */
}

.example-full-width input {
    width: 250px; /* Make the input take up the full width */
    padding: 20px; /* Add some padding */
    border: 1px solid #ddd; /* Add a border */
    border-radius: 10px;
}
.button-padding {
    margin-right: 10px; /* Adjust as needed */
}

.search {
    display: flex;
    justify-content: flex-end;
    background-color: #008CBA; /* Blue background */
    border: none; /* Remove border */
    color: white; /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */

    font-size: 16px;
    margin: 4px 100px;
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 4px; /* Rounded corners */
}



