<div class="dashboard">
    <div class="book-list">
        <div class="fav">
            <h1>Favorite Books</h1>

            <!-- This is just placeholder data. You'll replace this with dynamic data later. -->
            <div class="book">
                <div class="book-image"></div>
                <div class="book-details">
                    <h2>Dragon of the Red Dawn</h2>
                    <p>Author: Mary Pope Osborne</p>
                    <p>Year: 2009</p>
                    <button class="button-padding" mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
                                <mat-icon>add</mat-icon>
                            </button>

                    <button class="button-padding" mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
                        <mat-icon>favorite</mat-icon>
                    </button>
                </div>
            </div>
            <div class="book">
                <div class="book-image2"></div>
                <div class="book-details">
                    <h2>Great Books</h2>
                    <p>Author: David Denby</p>
                    <p>Year: 2013</p>
                    <button class="button-padding" mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
                        <mat-icon>add</mat-icon>
                    </button>

                    <button class="button-padding" mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
                        <mat-icon>favorite</mat-icon>
                    </button>
                </div>
            </div>
            <div class="book">
                <div class="book-image"></div>
                <div class="book-details">
                    <h2>Dragon of the Red Dawn</h2>
                    <p>Author: Mary Pope Osborne</p>
                    <p>Year: 2009</p>
                    <button class="button-padding" mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
                        <mat-icon>add</mat-icon>
                    </button>

                    <button class="button-padding" mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
                        <mat-icon>favorite</mat-icon>
                    </button>
                </div>
            </div>
            <div class="book">
                <div class="book-image"></div>
                <div class="book-details">
                    <h2>Dragon of the Red Dawn</h2>
                    <p>Author: Mary Pope Osborne</p>
                    <p>Year: 2009</p>
                    <button class="button-padding" mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
                        <mat-icon>add</mat-icon>
                    </button>

                    <button class="button-padding" mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
                        <mat-icon>favorite</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="search-form">
        <h2>Search Books</h2>
        <form class="example-form">
            <div class="example-full-width">
                <label for="bookName">Book Name</label>
                <input id="bookName" placeholder="Enter book name">
            </div>
            <div class="example-full-width">
                <label for="authorName">Author Name</label>
                <input id="authorName" placeholder="Enter author name">
            </div>
            <div class="example-full-width">
                <label for="year">Year</label>
                <input id="year" placeholder="Enter year">
            </div>
            <button type="submit" class="search">Search</button>
        </form>
    </div>
</div>
