.dashboard {
  display: flex;
  justify-content: space-between;
  flex-direction: row; /* Change this from column to row */
  padding: 20px;
}



.book-list {
  width: 500px;
  height: 500px;
    display: flex;
  align-content: center;
    justify-content: space-around;
  flex-direction: row;
}

.fav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.book-image {

  background-image: url("https://books.google.com/books/content?id=4kZbs2NeLJoC&pg=PP1&img=1&zoom=3&hl=en&bul=1&sig=ACfU3U2naoW4GgSZN3q1eBge3XkeWxt1jg&w=1280");
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 200px;
}
.book-image2 {

  background-image: url("https://books.google.com/books/content?id=2hp76AE5ZxEC&pg=PP1&img=1&zoom=3&hl=en&bul=1&sig=ACfU3U1NMxMEMnmS2MbiOc8i5ZLW44mKxA&w=1280");
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 200px;
}


.search-form {
  width: 300px;
    height: 100%;
  border: 1px solid #000; /* Add a border */
  margin-left: 20px; /* Add left margin */
}

.book {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.example-full-width {

  padding: 10px; /* Add some padding */
  margin-bottom: 10px; /* Add some bottom margin */
}

.example-full-width label {
  display: block; /* Make the label a block element */
  margin-bottom: 5px; /* Add some bottom margin */
}

.example-full-width input {
  width: 250px; /* Make the input take up the full width */
  padding: 20px; /* Add some padding */
  border: 1px solid #ddd; /* Add a border */
}

.search-button {
  background-color: #008CBA; /* Blue background */
  border: none; /* Remove border */
  color: white; /* White text */
  padding: 15px 32px; /* Padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 4px; /* Rounded corners */
}

/* Style for the View More button */
.book-list button {
  background-color: #008CBA; /* Blue background */
  border: none; /* Remove border */
  color: white; /* White text */
  padding: 15px 32px; /* Padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 4px; /* Rounded corners */
}

/* Style for the Add to Cart button */
.book button {
  background-color: #4CAF50; /* Green background */
  border: none; /* Remove border */
  color: white; /* White text */
  padding: 10px 24px; /* Padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 4px; /* Rounded corners */
}