.container {
    margin: 20px auto; /* Auto margins horizontally center the container */
    max-width: 800px; /* Set a maximum width for the container */
}

.no-saved-books {
    text-align: center;
}

.saved-books-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.book {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
