
.container {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.user-info {

    margin-top: 100px;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    width: 120px;
    font-weight: bold;
}

span {
    display: inline-block;
    width: 200px;
    text-align: left;
}
