<!DOCTYPE html>

<body>
<h1>User Settings</h1>
<div class="container">

    <div class="user-info">
        <div class="form-group">
            <label for="name">Name:</label>
            <span id="name">Harry</span>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <span id="email">harry&#64;example.com</span>
        </div>
        <div class="form-group">
            <label for="username">Username:</label>
            <span id="username">Harry</span>
        </div>
        <div class="form-group">
            <label for="lib-id">Library ID:</label>
            <span id="lib-id">123456</span>
        </div>
    </div>
</div>
</body>

