<div class="container">
    <app-sidebar></app-sidebar>

    <div class="receipts">
    <table>
        <thead>
            <tr>
                <th>Book Title</th>
                <th>Lease Taken Date</th>
                <th>Date Returned</th>
                <th>Amount paid</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Book A</td>
                <td>2023-01-01</td>
                <td>2023-01-10</td>
                <td>$300</td>
            </tr>
            <tr>
                <td>Book B</td>
                <td>2023-02-01</td>
                <td>2023-02-20</td>
                <td>$300</td>
            </tr>
            <tr>
                <td>Book C</td>
                <td>2023-03-01</td>
                <td>2023-03-15</td>
                <td>$300</td>
            </tr>
            <tr>
                <td>Book D</td>
                <td>2023-04-01</td>
                <td>2023-04-15</td>
                <td>$300</td>
            </tr>
            <tr>
                <td>Book E</td>
                <td>2023-05-01</td>
                <td>2023-05-15</td>
                <td>$300</td>
            </tr>
            <tr>
                <td>Book F</td>
                <td>2023-06-01</td>
                <td>2023-06-15</td>
                <td>$300</td>
            </tr>
            <tr>
                <td>Book G</td>
                <td>2023-07-01</td>
                <td>2023-07-15</td>
                <td>$300</td>
            </tr>
            <tr>
                <td>Book H</td>
                <td>2023-08-01</td>
                <td>2023-08-15</td>
                <td>$300</td>
            </tr>
            <tr>
                <td>Book I</td>
                <td>2023-09-01</td>
                <td>2023-09-15</td>
                <td>$300</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>