<div class="container-one">


<mat-tab-group class="container">
      <mat-tab label="Login">
        <form class="form">
          <h2>Login</h2>
          <div class="form-element">
            <label for="loginEmail">Email:</label>
            <input type="email" id="loginEmail" name="loginEmail" placeholder="Enter your email">
          </div>
          <div class="form-element">
            <label for="loginPassword">Password:</label>
            <input type="password" id="loginPassword" name="loginPassword" placeholder="Password">
          </div>
        <button type="submit" (click)="onLoginClick()" routerLink="/main-page">Login</button>
        </form>
      </mat-tab>
      <mat-tab label="Sign Up">
  <form class="form">
    <h2>Sign Up</h2>
    <div class="form-element">
      <label for="signupEmail">Email:</label>
      <input type="email" id="signupEmail" name="signupEmail" placeholder="Enter your email">
    </div>
    <div class="form-element">
      <label for="signupStudentId">UMB Student ID:</label>
      <input type="text" id="signupStudentId" name="signupStudentId"placeholder=" UMB ID">
    </div>
    <div class="form-element">
      <label for="signupPassword">Password:</label>
      <input type="password" id="signupPassword" name="signupPassword"placeholder="Password">
    </div>
    <div class="form-element">
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" placeholder=" Confirm Password">
    </div>
      <button type="submit" (click)="onLoginClick()" routerLink="/main-page">Sign-up</button>
  </form>
</mat-tab>

      <mat-tab label="Reset Password">
        <form class="form">
          <h2>Reset Password</h2>
          <div class="form-element">
            <label for="resetEmail">Email:</label>
            <input type="email" id="resetEmail" name="resetEmail " placeholder="Enter your email">
          </div>
          <button type="submit">Reset Password</button>
        </form>
      </mat-tab>
</mat-tab-group>
</div>
