

<div class="container">
  <div class="box">
    <img src="/src/assets/images/Literature.jpg" alt="Literature">
    <p>Literature</p>
  </div>
  <div class="box">
    <img src="/src/assets/images/Research.jpg" alt="Research">
    <p>Research</p>
  </div>
  <div class="box">
    <img src="/src/assets/images/Geography.jpg" alt="Geography">
    <p>Geography</p>
  </div>
  <div class="box">
    <img src="/src/assets/images/Technology.jpg" alt="Technology">
    <p>Technology</p>
  </div>
  <div class="box">
    <img src="/src/assets/images/Biology.jpg" alt="Biology">
    <p>Biology</p>
  </div>
</div>


