<div class="community-container">

        <header>
        <!-- Navigation and Search bar -->
        
   
        <button >Sign Out</button>
       </header>
      
        <main>

          <app-sidebar></app-sidebar>
      
          <div class="content">
            <h1>COMMUNITY</h1>
            <div class="sections">
              
              <div class="groups">
                <img src="/src/assets/images/background.jpg" alt="Group Image">
               <a href="">
                <h2>GROUPS</h2>
              </a>
              </div>
           
              <div class="events">
                <img src="events_image.png" alt="Events Image">
                <a href="">
                  <h2>EVENTS</h2>
                </a>
              </div>
            </div>
          </div>
        </main>
      
        <!-- <footer>
          <nav>
            <a routerLink="home">Home</a>
            <a routerLink="team">Team</a>
            <a routerLink="about">About</a>
            <a routerLink="contact">Contact Us</a>
          </nav>
          <div class="legal">
            <a href="#">Terms of Service</a>
            <a href="#">Privacy Policy</a>
          </div>
        </footer> -->
   
      

</div>