<div class="container">
    <main>
    <app-sidebar></app-sidebar>
    <div class="receipt-container">
        <h2 class="receipt-title">Receipt</h2>
        <div class="receipt-card">
          <div class="receipt-item">
            <span class="receipt-label">Confirmation Number:</span>
            <span class="receipt-value">XXXXXX</span>
          </div>
          <div class="receipt-item">
            <span class="receipt-label">Name:</span>
            <span class="receipt-value">Harry</span>
          </div>
          <div class="receipt-item">
            <span class="receipt-label">Book:</span>
            <span class="receipt-value">Interaction Design</span>
          </div>
          <div class="receipt-item">
            <span class="receipt-label">Date Taken:</span>
            <span class="receipt-value">12th April, 2024</span>
          </div>
        </div>
      </div>

    </main>
</div>