



<div class="hero">
    <div class="hero-content">
        <div class = "first-section">
            <div class="hero-text">
                <h1>Welcome to Library Management System</h1>
                <p>Search for books, authors, and genres</p>
            </div>
            <div class="container">

                <app-search></app-search>

            </div>
        </div>

        <div class="features-section">
            <div class="feature">
                <h2>Read Free Library Books Online</h2>
                <p>Access a wide range of books from our library and read them online for free.</p>
                <button class="learn-more">Learn More</button>
            </div>
            <div class="feature">
                <h2>Set Yearly Reading Goal</h2>
                <p>Set your reading goals for the year and track your progress.</p>
                <button class="learn-more">Learn More</button>
            </div>
            <div class="feature">
                <h2>Keep Track of Your Favorite Books</h2>
                <p>Save your favorite books and easily access them anytime.</p>
                <button class="learn-more">Learn More</button>
            </div>
        </div>

        <div class="explore-more">
            <h2>Explore More</h2>
            <p>Discover our extensive collection of books.</p>
            <button class="learn-more">Explore Now</button>
        </div>
        <div class="recent-books">
            <h2>Recently Added Books</h2>
            <div class="book-list">
                <div class="books">
                    <div class="book-image"></div>
                    <h2>Dragon of the Red Dawn</h2>
                    <p>Author: Mary Pope Osborne</p>
                    <p>Year: 2009</p>
                    <button>Add to Cart</button> <!-- Add to Cart button -->
                </div>
                <div class="books">
                    <div class="book-image2"></div>
                    <h2>The Night of        the Ninjas</h2>
                    <p>Author: Mary Pope Osborne </p>
                    <p>Year: 2010</p>
                    <button>Add to Cart</button> <!-- Add to Cart button -->
                </div>
            </div>
        </div>

    </div>
</div>