/* checkout.component.css */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.around {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.list1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.button1{
  width: 100px;
background: #0069d9;
  border-radius: 40%;

}
.books {
  width: 50%; /* Adjust as needed */
  margin: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
}

.book-image2 {

  background-image: url("https://books.google.com/books/content?id=yzkEXXxF0doC&pg=PP1&img=1&zoom=3&hl=en&bul=1&sig=ACfU3U3hirJiWu-9vCxliW1kmwGmd5ppdA&w=1280");
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 200px;
}

.example-container {
  width: 80%;
  height: 80%;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.mat-divider {
  width: 100%;
  margin: 10px 0;
}

.list {
  width: 100%;
  padding: 20px;
}

.dashboard, .receipts, .checkout {
  padding: 20px;
}

.mat-form-field {
  width: 100%;
  margin: 10px 0;
}

button {
  margin: 10px 0;
}