
<div class="container-one">
<div class="container">
<header>
    <h1>BiblioCommons US Privacy Statement</h1>
    <p>Last updated: Aug 24, 2023</p>
</header>
<main clas>
    <section>
        <h2>Introduction</h2>
        <p>Boston Public Library has entered into an agreement with BiblioCommons to provide online services that make
            it easier to find, discover and use collections, services and programs at the library. In addition,
            you may also choose to use this service to share ratings and commentary about the titles you find at
            Boston Public Library, and to connect with other library users. When you use Boston Public Library
            services that say "Powered by BiblioCommons" at the bottom of the page, you are using what is referred
            to in this document as the "BiblioCommons Service," and any information that is collected or shared here
            will be governed by this Privacy Statement.</p>
    </section>
     Other sections like Agreement, Types of Information Collected, Use of Personal Information, etc.
</main>
<footer>

    <address>
        Privacy Officer <br>
        BiblioCommons <br>
        5060 Spectrum Way, Suite 100 <br>
        Mississauga, ON, L4W 5N5 <br>
        CANADA <br>
        Tel: +1 (647) 436 6381
    </address>
</footer>
</div>
</div>

