
<div class="container">
    <main>
    <app-sidebar></app-sidebar>
      <div class="book-container">
        <div class="book-header">
          <h2>BOOK</h2>
        </div>
        <div class="book-title">
          <img src="./assets/images/Book1.jpg" alt="Book Cover" class="book-cover">
          <div class="book-info">
            <h3>The Essential Guide to User Interface Design</h3>
            <p>When do you want that book?</p>
            <div class="date-selection">
                <label for="startDate">Start Date:</label>
                <input type="date" id="startDate" name="startDate">
                
                <label for="endDate">End Date:</label>
                <input type="date" id="endDate" name="endDate">
              </div>
            <button class="check-availability">Check Availability</button>
          </div>
        </div>
      </div>
</main>
</div>
